<%= form_for @tenant do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :dob %>
    <br />
    <%= f.text_field :dob, class: "datepicker form-control" %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd'
        });
      });
    </script>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <br />
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class="text-center"><%= f.submit "Submit", class: "btn btn-danger"%></div>
<% end %>