<%= form_for @apartment do |f| %>
    <div class="input-group input-group-md">
        <%= f.label :paint_scheme, class: "input-group-addon chriswidth" %>
        <%= f.text_field :paint_scheme, class: "form-control" %>
    </div>
    <br />
    <div class="input-group input-group-md">
        <%= f.label :kitchen_counter, class: "input-group-addon chriswidth" %>
        <%= f.text_field :kitchen_counter, class: "form-control" %>
    </div>
    <br />
    <div class="input-group input-group-md">
        <%= f.label :bathroom_sink, class: "input-group-addon chriswidth" %>
        <%= f.text_field :bathroom_sink, class: "form-control" %>
    </div>
    <br />
    <div class="input-group input-group-md">
        <%= f.label :refrigerator_type, class: "input-group-addon chriswidth" %>
        <%= f.text_field :refrigerator_type, class: "form-control" %>
    </div>
    <br />
    <div class="input-group input-group-md">
        <%= f.label :ac_filter, class: "input-group-addon chriswidth" %>
        <%= f.text_field :ac_filter, class: "form-control" %>
    </div>
    <br />
    <div class="input-group input-group-md">
        <%= f.label :ac_maint, class: "input-group-addon chriswidth" %>
        <%= f.text_field :ac_maint, class: "datepicker form-control" %>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        </script>
    </div>
    <br />
    <div class="input-group input-group-md">
        <%= f.label :refrigerator_maint, class: "input-group-addon chriswidth" %>
        <%= f.text_field :refrigerator_maint, class: "datepicker form-control" %>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        </script>
    </div>
    <br />
    <%= f.label :notes %>
    <br />
    <%= f.text_area :notes, class: "form-control", rows: "5" %>
    <br />
    <div class="text-center"><%= f.submit "Submit", class: "btn btn-danger" %></div>
<% end %>