<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h1 class="text-center"><%= @apartment.building %> #<%= @apartment.unit %> Details:</h1>
        <div class="well">
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Paint Scheme:</span> 
                <span class="form-control"><%= @apartment.paint_scheme %></span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Kitchen Counter Type:</span> 
                <span class="form-control"><%= @apartment.kitchen_counter %></span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Bathroom Amenities:</span> 
                <span class="form-control"><%= @apartment.bathroom_sink %></span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Refrigerator Type:</span> 
                <span class="form-control"><%= @apartment.refrigerator_type %></span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">AC Filter Type:</span> 
                <span class="form-control"><%= @apartment.ac_filter %></span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">AC Filter Last Changed:</span> 
                <span class="form-control">
                    <%= @apartment.ac_maint ? "#{time_ago_in_words(@apartment.ac_maint)} ago." : nil %>
                </span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Refrigerator Last Maintained:</span> 
                <span class="form-control">
                    <%= @apartment.ac_maint ? "#{time_ago_in_words(@apartment.refrigerator_maint)} ago" : nil %>
                </span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Last Update:</span> 
                <span class="form-control"><%= @apartment.updated_at %></span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Notes:</span>
                <span class="form-control"><%= @apartment.notes %></span>
            </p>
            <p class="text-center">
                <%= link_to "Edit", edit_apartment_path(@apartment), class: "btn btn-warning" %> 
                <%= link_to "Home", root_path, class: "btn btn-info" %>
            </p>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h1 class="text-center">Tenant Details:</h1>
        <div class="well">
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Current Tenant:</span>
                <span class="form-control">
                    <% if @apartment.tenants.first %>
                        <%= @apartment.tenants.first.first_name %> <%= @apartment.tenants.first.last_name %>
                    <% else %>
                        <span class="text-danger">Vacant</span>
                    <% end %>
                </span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Date of Birth:</span> 
                <span class="form-control">
                    <% if @apartment.tenants.first != nil %>
                        <%= @apartment.tenants.first.dob %>
                    <% end %>
                </span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Age:</span> 
                <span class="form-control">
                    <% if @apartment.tenants.first != nil %>
                        <%= "#{ find_age @apartment.tenants.first.dob} years old" %>
                    <% end %>
                </span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Last Update:</span> 
                <span class="form-control">
                    <% if @apartment.tenants.count != 0 %>
                        <%= @apartment.tenants.first.updated_at %>
                    <% end %>
                </span>
            </p>
            <p class="input-group input-group-md">
                <span class="input-group-addon chriswidth">Notes:</span>
                <span class="form-control">
                    <% if @apartment.tenants.count != 0 %>
                        <%= @apartment.tenants.first.notes %>
                    <% end %>
                </span>
            </p>
        </div>
        <p class="text-center">
            <% if @apartment.leases.count != 0 %>
                <%= link_to "Edit", edit_tenant_path(@apartment.tenants.first), class: "btn btn-warning" %>
                <%= link_to "Evict", lease_path(@apartment.leases.ids), method: :delete, data: { confirm: "Are you really that heartless?" }, class: "btn btn-danger" %>
            <% else %>
                <%= link_to "New Lease", new_lease_path, class: "btn btn-success" %>
            <% end %>
        </p>
    </div
</div>